<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<div class="dialog-user-editor">
  <div mat-dialog-title class="sr-only">
    <h1>Edit Profile</h1>
  </div>
  <div class="card profile-card profile" [ngSwitch]="currentView">
    <user-photo-editor *ngSwitchCase="userEditView.Photo" [user]="user" (onDone)="onPhotoEditDone()"></user-photo-editor>
    <manage-user-skill-sets *ngSwitchCase="userEditView.SkillSet" [user]="user" (onDone)="onSkillSetSelectorDone()"></manage-user-skill-sets>
    <div *ngSwitchDefault>
      <div mat-dialog-title class="dark-background profile-head">
      </div>  
      <div mat-dialog-content>        
        <img [fmUserPic]="user" class="img-fluid profile-pic" [attr.alt]="'profile picture'">                 
        <!-- Loading... -->
        <div *ngIf="!user" class="loader-container">
          <div class="loader primary">Loading...</div>
        </div>
        <!-- User -->
        <div *ngIf="user">
          <div class="mt-2 d-flex justify-content-center">
              <button class="btn btn-secondary" type="button" (click)="onUpdatePhotoClick()">Update Photo</button>
          </div>
          <div>        
            <h3 class="card-title">{{user.firstName}} {{user.lastName}}</h3>
            <hr>
            <h4>Skill Sets:</h4>
            <!-- Loading... -->
            <div *ngIf="!userSkillSets" class="loader-container">
                <div class="loader primary">Loading...</div>
            </div>
            <div *ngIf="userSkillSets">
              <div *ngFor="let skillSet of userSkillSets">
                {{skillSet.name}}
              </div>
              <button class="btn btn-secondary mt-2" (click)="onManageSkillSetsClick()">Manage Skill Sets</button>
            </div>
          </div>
        </div>
      </div>      
      <div mat-dialog-actions>
        <button class="btn btn-primary" type="button" (click)="onDoneClick()">Done</button>
      </div>
    </div>
  </div>
</div>