<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<div mat-dialog-title>
	<h1>Your Skill Sets</h1> 
</div>
<div mat-dialog-content>
	<!-- Loading... -->
	<div *ngIf="!skillSets || !userSkillSets" class="loader-container">
		<div class="loader primary">Loading...</div>
	</div>
	<div *ngIf="skillSets && userSkillSets" class="row">
		<div class="col">
			<div *ngFor="let skillSet of skillSets">
				<mat-checkbox labelPosition="after" [ngModel]="isInUserSkillSet(skillSet)" (change)="onSkillSetCheckboxChange($event, skillSet)">{{skillSet.name}}</mat-checkbox>
			</div>
		</div>
	</div>
</div>
<div mat-dialog-actions class="float-right">
	<button class="btn btn-primary" (click)="onDoneClick()">Done</button>
</div>
