<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<div *ngFor="let skill of skills;trackBy: trackSkill">
	<div class="pt-3 pb-4 ml-sm-4" *ngIf="!skill.assessment.hidden">
		<div class="d-flex flex-row">
			<span *ngIf="!autoSave && !readOnly"><md-checkbox [checked]="skillBundleService.isInBundle(skill.id)" (change)="onBundleClick(skill)" title="Add skill to bundle"><span class="sr-only">Add skill to bundle</span></md-checkbox></span>
			<div>
				{{skill.name}}
			</div>
			<button *ngIf="skill.childSkills.length > 0" type="button" class="btn btn-link btn btn-link pt-1 pl-2" (click)="skill.hideChildSkills = !skill.hideChildSkills">
				<i class="fa" [ngClass]="skill.hideChildSkills ? 'fa-angle-up' : ' fa-angle-down'" aria-hidden="true" ng-reflect-raw-class="fa-angle-downp" ng-reflect-initial-classes="fa"></i>
			</button>
		</div>
		<div [collapse]="!skill.hideChildSkills">
			<div class="pl-4">
				<ul class="list-unstyled">
					<li *ngFor="let childSkill of skill.childSkills">{{ childSkill.name }}</li>
				</ul>
			</div>
		</div>
		<div *ngIf="skill.canSelfAssess">
			<div class="row mt-1">
				<div class="col-11">
					<assessment-slider [disabled]="readOnly" (ngModelChange)="onSelfAssessmentChange(skill, $event)" [(ngModel)]="skill.assessment.activeSelfAssessment" [skillId]="skill.id" [scale]="getSelfAssessmentScale(skill)"></assessment-slider>
				</div>
				<div class="col-1 pl-0">			
					<button type="button" class="btn btn-slider" (click)="skill.hideDescriptor = !skill.hideDescriptor">
						<i class="pdd-slider" aria-hidden="true" title="Toggle descriptors"> <span class="sr-only">Toggle self assessment descriptors</span></i>
					</button>
				</div>
			</div>
			<div class="row" [collapse]="!skill.hideDescriptor">
				<div class="col mt-2">
					<div class="assessment-descriptor" 
						*ngFor="let scale of getSelfAssessmentScale(skill)" 
						style="border-left-width:1rem;" 
						(click)="setSelfAssessmentScore(skill, scale)" 
						[ngClass]="{'selected': isSelfAssessmentScaleSelected(skill, scale), 'read-only': readOnly}" 
						[style.border-left-color]="getSelfAssessmentScaleColour(scale)" >
						{{scale.levelName}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>