<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<div class="card app-card mt-2 mb-4 shadow-level-5">
	<!-- Loading... -->
	<div *ngIf="!entryForm" class="loader-container">
		<div class="loader primary">Loading...</div>
	</div>
	<!-- Entry... -->
	<div *ngIf="entryForm" class="card-block">
		<form [formGroup]="entryForm" [fmAutoSave]="autoSave">
			<div class="row">
				<div class="col">
					<div class="form-group">
						<md-input-container class="large">
							<input mdInput placeholder="Title" formControlName="title" name="title" autocomplete="off" (focus)="onTitleFocus()" (blur)="onTitleBlur()">
						</md-input-container>
					</div>
				</div>
			</div>
			<div *ngIf="!placement" class="row">
				<div class="col">
					<div class="form-group">
						<md-input-container class="large">
							<input mdInput placeholder="Where" [mdAutocomplete]="auto" formControlName="where" name="where" autocomplete="off" onfocus="this.select()" >
						</md-input-container>
						<md-autocomplete #auto="mdAutocomplete">
							<md-option *ngFor="let whereData of filteredWhereData | async" [value]="whereData.name">
								{{ whereData.name }}
							</md-option>
						</md-autocomplete>
					</div>
				</div>
			</div>
			<div *ngIf="placement" class="row">
				<div class="col">
					<div class="form-group">
						<md-input-container class="large">
							<input mdInput placeholder="Where" disabled [value]="placement.fullyQualifiedTitle" name="where" autocomplete="off">
						</md-input-container>										
					</div>
				</div>
			</div>
			<div *ngIf="!entryTypeSet" class="row">
				<div class="col">
					<div class="form-group">
						<div class="entry-type-container ">
							<div class="entry-type-wrapper">
								<div class="float-left mr-2 mt-1"><h2 class="faded">Type</h2></div>									
								<!-- Loading... -->
								<div *ngIf="!entryTypes" class="loader-container">
									<div class="loader primary">Loading...</div>
								</div>
								<md-chip-list *ngIf="entryTypes">
									<md-basic-chip (click)="onEntryTypeClick()">
										Basic
									</md-basic-chip>
									<md-chip  *ngFor="let entryType of entryTypes" (click)="onEntryTypeClick(entryType)">
										{{entryType.name}}
									</md-chip>
								</md-chip-list>
								<div class="mat-input-underline">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="entryTypeSet">
				<div *ngIf="selectedEntryType">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<md-input-container class="large">
									<input mdInput placeholder="Type" disabled [value]="selectedEntryType.name" name="type" autocomplete="off">
								</md-input-container>										
							</div>
						</div>
					</div>
				</div>				
				<div class="row">
					<div class="col">
						<div *ngIf="!savePending" class="small text-sm-right pb-4">
							<span *ngIf="!entrySaved">Last saved at {{entry.lastUpdatedAt | date: 'd MMM yyyy h:mm:ss a'}}</span>
							<span *ngIf="entrySaved">All changes saved</span>
						</div>
						<div *ngIf="savePending" class="small text-sm-right pb-4">Saving entry...</div>
					</div>
				</div>	
				<div *ngIf="!selectedEntryType" class="row">
					<div class="col">
						<fieldset class="form-group">
							<label class="sr-only">Textarea</label>
							<textarea tinyMceEditor class="form-control" formControlName="description" name="description"></textarea>
						</fieldset>
					</div>
				</div>
				<div *ngIf="selectedEntryType">
					<div *ngFor="let template of selectedEntryType.template; index as i" class="row">
						<div class="col">
							<fieldset class="form-group">
								<label>{{template.title}} <i *ngIf="template.help" class="fa fa-question-circle" aria-label="help" (click)="onHelpClick(template.help)"></i></label>
								<textarea tinyMceEditor class="form-control" [formControlName]="'template_control_'+i" [name]="'template_control_'+i"></textarea>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<h2 class="d-flex align-items-center">
							Skills
							<button type="button" (click)="showSkillsModal()" class="btn btn-secondary ml-2"><i class="fa fa-plus" aria-label="Add skills"></i></button>
						</h2>
					</div>
				</div>						
				<!-- Loading... -->
				<div *ngIf="!skillGroups" class="loader-container">
					<div class="loader primary">Loading...</div>
				</div>
				<skill-group-list *ngIf="skillGroups && bundleSize > 0 && !isSkillsModalShown" [bundleView]="true" [skillGroups]="skillGroups" (selfAssessmentChange)="onSelfAssessmentChange()"></skill-group-list>
				<div class="row" *ngIf="skillGroups && bundleSize == 0">
					<div class="col">
						<p>There are no skills associated with this entry.</p>
					</div>
				</div>
			</div>
			<div class="row text-right">
				<div class="col">
					<a *ngIf="autoSaveEnabled && !isEdit" href (click)="onCloseClick($event)" class="btn">Cancel</a>
					<a *ngIf="autoSaveEnabled && isEdit" href (click)="onCloseClick($event)" class="btn">Close</a>
					<button *ngIf="!autoSaveEnabled" type="submit" class="btn btn-primary btn-shadow mt-2 mt-sm-0" (click)="onSaveClick()">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!--Add Skills-->
<div bsModal [config]="{show: true, backdrop: false, keyboard: false}" #skillsModal="bs-modal" *ngIf="isSkillsModalShown" (onHidden)="onSkillsModalHidden()" class="modal fade" tabindex="-1" role="dialog" aria-label="Add Skills" aria-hidden="true">
  <div class="modal-dialog modal-full-screen">
    <div class="container">
      <div class="modal-content">          
          <div class="modal-body">
            <skills-browser [skillGroups]="skillGroups" (selfAssessmentChange)="onSelfAssessmentChange()"></skills-browser>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-shadow" (click)="skillsModal.hide()"> Done </button>
          </div>
      </div>
    </div>
  </div>
</div>