<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<div class="entry-view-card card app-card mb-sm-2">
	<!-- Loading... -->
	<div *ngIf="!entry" class="loader-container">
		<div class="loader primary">Loading...</div>
	</div>
	<!-- Entry... -->
	<div *ngIf="entry" class="card-block">
		<div class="row visible-print-block mb-2">
			<div class="col">
				<img class="float-left" src="../images/print-logo.png">
			</div>
		</div>
		<div class="row clearfix">
			<div class="col">
			</div>
		</div>
		<div class="row visible-print-block">
			<div class="col">
				<hr class="hidden-print" >
			</div>
		</div>
		<div class="row entry-header hidden-print">
			<div class="col">
				<div class="d-flex justify-content-end pb-2">
					<span class="col-2 col-sm-1 pr-0 mr-auto col-entry-share-status" [ngSwitch]="entry.shared">
						<span *ngSwitchCase="false"></span>
						<ng-container *ngSwitchCase="true">
							<i *ngIf="canModifyEntry" class="fa fa-share-alt share-icon" aria-hidden="true"></i>
							<img *ngIf="!canModifyEntry" [fmUserPic]="entry.author" class="img-fluid profile-pic-thumb" [attr.alt]="entry.author.firstName + ' ' + entry.author.lastName + ' profile picture'" [attr.title]="entry.author.firstName + ' ' + entry.author.lastName" >
						</ng-container>
					</span>
					<button *ngIf="canModifyEntry" class="btn btn-link-icon mt-2 mt-sm-0 p-2" (click)="shareEntry()" title="Share">
						<i class="fa fa-share-alt" aria-hidden="true"></i>
					</button>
					<button class="btn btn-link-icon mt-2 mt-sm-0" (click)="printEntry()" title="Print">
						<span class="sr-only">Print</span>
						<i class="fa fa-print" aria-hidden="true"></i>
					</button>
					<button *ngIf="canModifyEntry" class="btn btn-link-icon mt-2 mt-sm-0" (click)="editEntry()" title="Edit">
						<span class="sr-only">Edit</span>
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</button>
					<button *ngIf="canModifyEntry" class="btn btn-link-icon mt-2 mt-sm-0" (click)="removeEntry()" title="Delete">
						<span class="sr-only">Delete</span>
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>{{entry.title}}</h2>
				<hr class="hidden-print" />
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3>{{entry.where}}</h3>
				<hr class="hidden-print" />
			</div>
		</div>	
	
		<div *ngIf="entry.entryType" class="row">
			<div class="col">
				<h3>{{entry.entryType.name}}</h3>
				<hr class="hidden-print" />
			</div>
		</div>	
		<div class="row">
			<div class="col">
				<div class="small pb-2">
					Created at {{entry.when | date: 'd MMM yyyy h:mm a'}}
					<span *ngIf="!canModifyEntry">by {{entry.author.firstName}} {{entry.author.lastName}}</span>
				</div>
			</div>
		</div>		
		<div class="row visible-print-block mt--3">
			<div class="col">
				<hr>
			</div>
		</div>					
		<div *ngIf="entry.entryType">
			<div *ngFor="let template of entry.entryType.template; index as i" class="row">
				<div class="col">
					<h4>
						{{template.title}}
					</h4>
					<div class="col" [innerHtml]="entry.description[i]">
					</div>
					<p *ngIf="!entry.description[i]"> </p>
				</div>
			</div>
		</div>
		<div *ngIf="!entry.entryType" class="row">
			<div class="col" [innerHtml]="entry.description">
			</div>							
		</div>
		<div class="row visible-print-block">
			<div class="col">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3 class="d-flex align-items-center">
					Skills
				</h3>
				<hr class="hidden-print" />
			</div>
		</div>
		<div *ngIf="!skillGroups" class="loader-container">
			<div class="loader primary">Loading...</div>
		</div>
		<skill-group-list *ngIf="skillGroups && bundleSize > 0" [readOnly]="true" [bundleView]="true" [skillSetId]="entry.skillSetId" [skillGroups]="skillGroups" [user]="user"></skill-group-list>
		<div class="row" *ngIf="skillGroups && bundleSize == 0">
			<div class="col">
				<p>There are no skills associated with this entry.</p>
			</div>
		</div>
		<!-- Comments -->
		<comments [entry]="entry"></comments>
		<div class="row text-right" *ngIf="!hideClose">
			<div class="col">
				<a href (click)="onCloseClick($event)" class="btn">Close</a>
			</div>
		</div>
	</div>
</div>