<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<div [ngClass]="{'has-active-element': hasActiveElement()}">
	<div class="row pb-2">
		<div class="col">
			<button *ngIf="!isNewEntryOpen" class="btn btn-primary btn-shadow float-right" (click)="onNewEntryClick()"><i class="fa fa-plus" aria-hidden="true"></i> Create entry</button>
		</div>
	</div>
	<active-element (backgroundClick)="onNewEntryClose()" *ngIf="isNewEntryOpen">			
		<entry-editor (onClose)="onNewEntryClose($event)" [placement]="placement"></entry-editor>
	</active-element>
	<!-- Loading... -->
	<div *ngIf="!entries" class="loader-container">
		<div class="loader primary">Loading...</div>
	</div>
	<!-- No Entries... -->
	<div *ngIf="entries && entries.length === 0 && !hasActiveElement()" class="row">
		<div class="col">
			<div class="app-card">
				<div class="card-block">
					Looks like you don't have any entries<span *ngIf="placement"> for this placement</span>, <a href="" (click)="isNewEntryOpen = true; $event.preventDefault();">create one</a>.
				</div>
			</div>
		</div>
	</div>
	<!-- List Entries... -->
	<div *ngIf="entries">
		<div *ngFor="let entry of entries" class="row">
			<div class="col">
				<div *ngIf="!entry.viewing && !entry.editing" class="entry-summary-card app-card mb-sm-2">
					<div class="card-block">
						<div class="row">
							<div class="col-1 pr-0">
								<span class="pdd-entry"></span>
							</div>
							<div class="col-lg-8 col-7">
								<a href [ngClass]="{'float-left mr-2' : entry.type}" (click)="onSelectEntryClick($event, entry)">{{entry.title}}</a>
								<md-chip-list *ngIf="entry.type">
									<md-basic-chip selected="true" class="mat-chip-small">
										{{entry.type}}
									</md-basic-chip>
								</md-chip-list>
							</div>
							<div class="col-lg-2 col-2 col-sm-3 pr-0 text-right">
								{{entry.when | date: 'd MMM yyyy'}}
							</div>
							<div class="col-2 col-sm-1 pl-0 pr-0 text-right">
								<button md-icon-button [mdMenuTriggerFor]="placementMenu" class="kebab-menu-button">
									<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
								</button>
								<md-menu #placementMenu="mdMenu">
									<div class="btn-group-vertical">
										<button class="btn btn-link" (click)="onEditEntryClick(entry)">
											<i class="fa fa-pencil" aria-hidden="true"></i>
											<span>Edit</span>
										</button>
										<button class="btn btn-link" (click)="onDeleteEntryClick(entry)">
											<i class="fa fa-trash" aria-hidden="true"></i>
											<span>Delete</span>
										</button>
									</div>
								</md-menu>
							</div>
						</div> 
					</div>
				</div>
				<active-element (backgroundClick)="onViewEntryClose(entry)" *ngIf="entry.viewing">			
					<entry-viewer [entrySummary]="entry" (onRemoveEntry)="deleteEntry(entry)" (onClose)="onViewEntryClose(entry)" (onEditEntry)="onEditEntryClick(entry)"></entry-viewer>
				</active-element>
				<active-element (backgroundClick)="onEditEntryClose(entry)" *ngIf="entry.editing">			
					<entry-editor [entrySummary]="entry" (onClose)="onEditEntryClose(entry, $event)"></entry-editor>
				</active-element>
			</div>
		</div>
		<button *ngIf="canLoadPages && !hasActiveElement()" class="btn btn-primary btn-shadow w-100 mb-4" (click)="loadMoreEntries()">Load more...</button>
	</div>
</div>