<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<span dropdown>
  <a href id="skill-set-dropdown" dropdownToggle>
    <span *ngIf="selectedSkillSet">{{selectedSkillSet.name}}</span>
  </a>
  <ul class="dropdown-menu-right" *dropdownMenu aria-labelledby="skill-set-dropdown">
    <ng-container *ngFor="let skillSet of skillSets">
      <li>
          <div class="dropdown-item" (click)="onSkillSetClick($event, skillSet)">
            <i class="fa fa-check" aria-hidden="true" *ngIf="selectedSkillSet.id == skillSet.id"></i>
            <a (click)="onSkillSetClick($event, skillSet)" href>{{skillSet.name}}</a>
            <div><small>{{skillSet.description}}</small></div>
          </div>
      </li>
      <li class="divider dropdown-divider"></li>
    </ng-container>
  </ul>
</span>
