<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<div class="dialog-entry">
	<div mat-dialog-title>
		<h1>Request sign-off</h1> 
	</div>	
	<div mat-dialog-content>
		<div *ngIf="signOffUsers.length > 0" class="mb-3">
			Sign-off can be completed by:
			<mat-chip-list>
				<mat-chip *ngFor="let user of signOffUsers" [removable]="true" [selectable]="false" (removed)="onRemoveUserClick(user)">
					<img [fmUserPic]="user" class="profile-pic img-fluid" alt="Profile picture">
					{{getUserLabel(user)}}
					<mat-icon matChipRemove>
						<i class="fas fa-times" aria-hidden="true"></i>
						<span class="sr-only">Remove</span></mat-icon>
				</mat-chip>
			</mat-chip-list>
		</div>
		<form>
			<div class="row">
				<div class="col">
					<mat-form-field>
						<mat-chip-list #usersToRequestChipList>
							<mat-chip *ngFor="let user of signOffUsersToRequest" [removable]="true" [selectable]="false" (removed)="onRemoveUserToRequestClick(user)">
								<img [fmUserPic]="user" class="profile-pic img-fluid" alt="Profile picture">
								{{getUserLabel(user)}}
								<mat-icon matChipRemove>
									<i class="fas fa-times" aria-hidden="true"></i>
									<span class="sr-only">Remove</span>
								</mat-icon>
							</mat-chip>
							<input [readonly]="!canAnyoneSignOff()" id="userToRequestSignOffInput" #userToRequestSignOffInput [(ngModel)]="usersToRequestQuery" aria-label="Request sign-off by" placeholder="Request sign-off by..." [matChipInputFor]="usersToRequestChipList" (input)="onUserInput()" [matAutocomplete]="auto" name="newUser" autocomplete="off">
						</mat-chip-list>
						<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onUserSelected($event)">
							<mat-option *ngFor="let option of userOptions" [value]="option">
								<span [innerHTML]='highlightMatch(option.name)'></span>
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>
				</div>
			</div>
			<div class="row" *ngIf="signOffUsersToRequest.length > 0">
				<div class="col">
					<div class="form-group">
						<mat-form-field floatPlaceholder="always">
							<textarea matInput placeholder="Optional message" [(ngModel)]="message" name="message"></textarea>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="row" *ngIf="tutors.length > 0">
				<div class="col">
					Tutors:
					<mat-chip-list>
						<mat-chip *ngFor="let tutor of tutors" [selectable]="false" (click)="onTutorClick(tutor)" >
							<img [fmUserPic]="tutor" class="profile-pic img-fluid" alt="Profile picture">
							{{getUserLabel(tutor)}}
						</mat-chip>
					</mat-chip-list>
				</div>
			</div>
		</form>
	</div>
  <div mat-dialog-actions class="d-flex justify-content-between" *ngIf="signOffUsersToRequest.length > 0">
    <button class="btn btn-link" (click)="onCancelRequest()">Cancel</button>
    <button class="btn btn-primary btn-shadow" (click)="onMakeRequest()">Submit</button>
  </div>	
	<div mat-dialog-actions *ngIf="signOffUsersToRequest.length == 0" class="float-right">
		<button cdk-focus-initial class="btn btn-primary btn-shadow" [mat-dialog-close]="signOffUsers.length > 0">Done</button>
	</div>
</div>
