/** 
 * Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk
 * 
 * This file is part of Folium.
 * 
 * Folium is free software: you can redistribute it and/or modify 
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Folium is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Folium.  If not, see <http://www.gnu.org/licenses/>.
*/
// This refers to the thickness of the slider. On a horizontal slider this is the height, on a
// vertical slider this is the width.
$assessment-slider-thickness: 20px !default;
$assessment-slider-padding: 8px !default;

$assessment-slider-track-height: 2px !default;
$assessment-slider-thumb-size: 36px !default;

$assessment-slider-thumb-default-scale: 0.7 !default;
$assessment-slider-thumb-focus-scale: 1 !default;

$swift-ease-out-duration: 400ms !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;

// TODO(iveysaur): Find an implementation to hide the track under a disabled thumb.
$assessment-slider-off-color: rgba(black, 0.26);
$assessment-slider-focused-color: rgba(black, 0.38);
$assessment-slider-on-color: rgba(black, 1);

$assessment-slider-ticks-color: $assessment-slider-off-color;
$assessment-slider-ticks-selected-color: $assessment-slider-on-color;
$assessment-slider-ticks-width: 10px;
$assessment-slider-ticks-height: 10px;

/**
 * Uses a container height and an item height to center an item vertically within the container.
 */
@function center-vertically($containerHeight, $itemHeight) {
  @return ($containerHeight / 2) - ($itemHeight / 2);
}

/**
 * Positions the thumb based on its width and height.
 */
@mixin slider-thumb-position($width: $assessment-slider-thumb-size, $height: $assessment-slider-thumb-size) {
  position: absolute;
  top: center-vertically($assessment-slider-thickness, $height);
  // This makes it so that the center of the thumb aligns with where the click was.
  // This is not affected by the movement of the thumb.
  left: (-$width / 2);
  width: $width;
  height: $height;
  border-radius: max($width, $height);
}

assessment-slider {
  height: $assessment-slider-thickness;
  width: 100%;
  position: relative;
  padding: 0;
  display: inline-block;
  outline: none;
  vertical-align: middle;
}

assessment-slider *,
assessment-slider *::after {
  box-sizing: border-box;
}

/**
 * Exists in order to pad the slider and keep everything positioned correctly.
 * Cannot be merged with the .assessment-slider-container.
 */
.assessment-slider-wrapper {
  width: 100%;
  height: 100%;
  padding-left: $assessment-slider-padding;
  padding-right: $assessment-slider-padding;
}

/**
 * Holds the isActive and isSliding classes as well as helps with positioning the children.
 * Cannot be merged with .assessment-slider-wrapper.
 */
.assessment-slider-container {
  position: relative;
}

.assessment-slider-track-container {
  width: 100%;
  position: absolute;
  top: center-vertically($assessment-slider-thickness, $assessment-slider-track-height);
  height: $assessment-slider-track-height;
}

.assessment-slider-track {
  position: absolute;
  left: 0;
  right: 0;
  border: solid 1px $light-blue;
}

.assessment-slider-track-fill {
  transition-duration: $swift-ease-out-duration;
  transition-timing-function: $swift-ease-out-timing-function;
  transition-property: width, height;
  border: solid 1px $light-blue;
  width: 0%;
}

.assessment-slider-thumb-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition-duration: $swift-ease-out-duration;
  transition-timing-function: $swift-ease-out-timing-function;
  transition-property: left, bottom;
  z-index:5;
}

.assessment-slider-thumb-position {
  transition: transform $swift-ease-out-duration $swift-ease-out-timing-function;
}

.assessment-slider-thumb {
  z-index: 1;

  @include slider-thumb-position($assessment-slider-thumb-size, $assessment-slider-thumb-size);
  transform: scale($assessment-slider-thumb-default-scale);
  transition: transform $swift-ease-out-duration $swift-ease-out-timing-function;
  cursor: pointer;
  border: solid 2px $light-blue;
}

.assessment-slider-thumb::after {
  content: '';
  position: absolute;
  width: $assessment-slider-thumb-size;
  height: $assessment-slider-thumb-size;
  border-radius: max($assessment-slider-thumb-size, $assessment-slider-thumb-size);
  transition: inherit;
}

.assessment-slider-sliding .assessment-slider-thumb-position,
.assessment-slider-sliding .assessment-slider-track-fill {
  transition: none;
  cursor: default;
}

.assessment-slider-active .assessment-slider-thumb {
  transform: scale($assessment-slider-thumb-focus-scale);
}

.assessment-slider-ticks {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: -($assessment-slider-ticks-height - $assessment-slider-thickness) / 2;
  margin: 0;
  //padding: 0 ($assessment-slider-thumb-size - $assessment-slider-ticks-width) / 2;//
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .assessment-slider-tick {
    text-align: center;
    cursor: pointer;
    width: $assessment-slider-ticks-width;
    height: $assessment-slider-ticks-height;
    background: $assessment-slider-ticks-color;
    border-radius: 50%;
    &.selected {
      background: $assessment-slider-ticks-selected-color;
    }
  }
}

/* Used to gray out the slider when no value is set. */
.no-assessment-value {
  .assessment-slider-track,
  .assessment-slider-tick,
  .assessment-slider-thumb
  {
    background-color: $light-grey !important;
  }
}

/* Disabled slider */
.assessment-slider-disabled {
	.assessment-slider-track-fill {
		border-width: 8px;
		top:-7px;
		min-width: 5px;
	}
	.assessment-slider-thumb-container,
	.assessment-slider-ticks {
		display: none;	
	}
}

//Media Queries
@include media-breakpoint-down(xs) {
  assessment-slider {
    width: 95%;
    margin-left: 5%; // Give some space on the left as sliding from the left edge on iPhones causes a back navigation. 
  }
  .assessment-slider-tick {
    cursor: default;
  }
}