/** 
 * Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk
 * 
 * This file is part of Folium.
 * 
 * Folium is free software: you can redistribute it and/or modify 
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Folium is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Folium.  If not, see <http://www.gnu.org/licenses/>.
*/
//typography
html {
    font-size: .85rem;
}
button, input, optgroup, select, textarea {
    font-family: $font-family-sans-serif; //font reset by normalize.css - overwrite
}
.title h1 {
    color: white;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5  {
    font-weight: 300;
}
h1, .h1 {
    font-size: 1.8rem;
}
h2, .h2 {
    font-size: 1.5rem;
}
h3, .h3 {
    font-size: 1.1rem;
}
h4, .h4 {
    font-size: 1rem;
}
@font-face {
    font-family: 'Folium';
    src:  url('../fonts/Folium.eot?tlboyk#iefix') format('embedded-opentype'),
      url('../fonts/Folium.ttf?tlboyk') format('truetype'),
      url('../fonts/Folium.woff?tlboyk') format('woff'),
      url('../fonts/Folium.svg?tlboyk#Folium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="folium-"], [class*=" folium-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Folium' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .folium-placement-full:before {
    content: "\e900";
  }
  .folium-tutee:before {
    content: "\e901";
  }
  .folium-placement:before {
    content: "\e902";
  }
  .folium-entries:before {
    content: "\e903";
  }
  .folium-report:before {
    content: "\e904";
  }
  .folium-skills:before {
    content: "\e905";
  }
  .folium-skills-choice:before {
    content: "\e906";
  }
  .folium-check:before {
    content: "\e90d";
  }
  .folium-bundle:before {
    content: "\e90e";
  }
  .folium-slider:before {
    content: "\e90f";
  }
.fs-search {
    font-size: 1.45rem !important;
}
.fs-2 {
    font-size: 2rem !important;
}
.fs-3{
    font-size: 3rem !important;
}
.fs-small{
    font-size: .5rem !important;
}
.email:before {
    content: "\&#xf0e0;";
}

@include media-breakpoint-up(sm) {
    html {
        font-size:1rem;
    }
    h1, .h1 {
        font-size: 2.1rem;
    }
 }