/** 
 * Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk
 * 
 * This file is part of Folium.
 * 
 * Folium is free software: you can redistribute it and/or modify 
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Folium is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Folium.  If not, see <http://www.gnu.org/licenses/>.
*/
//Button 
[role="button"]:not(:disabled):not(.disabled) {
    cursor:pointer;
}
.btn-shadow {
    @include material_box_shadow(3);
    &:hover, &:active, &:focus {
         @include material_box_shadow(5);
    }
}
.btn-secondary {
    @include button-variant(#fff, $light-grey);
    color:$dark-blue;
    &:hover {
      background-color: $light-grey;
    }
    &:focus,
    &.focus {
        box-shadow: none;
    }
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        &:focus {
            box-shadow: none;
        }
    }
}
.btn-bundle {
    @extend .btn-link;
    color:rgba($light-blue, .3);
    &:hover {
        text-decoration: none !important;
        color: $brand-primary;
    }
    &.added {
        color: $brand-primary;
    }
}
.btn-slider {
    @extend .btn-bundle;
    padding:0;
}
.btn-tag {
    font-size: 0.8rem; 
    font-weight: 300;
    white-space:normal;
    text-align: left;
    padding-top: 0.125rem;
    padding-bottom:0.125rem;
    padding-left:0.55rem;
    padding-right:0.55rem;
    background-color: transparent;
    &.active {
        border:solid 1px $brand-primary;
        color:white;
        width:100%;
        .close-filter::after {
            content:"X";
        }
    }
}
.btn-link-icon {
    @extend .btn-link;
    border:none;
    font-size:1.3rem;
    &:active {
        border:none;
    }
    &:focus {
        border:none;
        box-shadow: none;
    }
}
.btn-link-white {
    @extend .btn-link;
    color:white;
    border:none;
    font-size:1.3rem;
    &:hover {
        color:white;
    }
    &:active {
        border:none;
    }
    &:focus {
        color:white;
        border:none;
        box-shadow: none;
    }
}
.btn-link-grey {
    @extend .btn-link;
    color: $light-grey;
    border:none;
    font-size:1.3rem;
    &:hover {
        color:$dark-blue;
    }
    &:active {
        border:none;
    }
    &:focus {
        color:$dark-blue;
        border:none;
        box-shadow: none;
    }
}
.mat-icon-button.kebab-menu-button {
    line-height: inherit;
    height: auto;
}

//Media Queries
@include media-breakpoint-down(sm) {
    .btn-bundle {
        padding-left:0;
        padding-top:0;
    }
}

