/** 
 * Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk
 * 
 * This file is part of Folium.
 * 
 * Folium is free software: you can redistribute it and/or modify 
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Folium is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Folium.  If not, see <http://www.gnu.org/licenses/>.
*/
// profile
.profile-pic{
    @extend .rounded-circle;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border:solid 0.625rem $dark-blue;
    margin-top:-5rem;
    height: 10.63rem;
    width: 10.63rem;
}

.profile-pic-thumb {
    @extend .rounded-circle;
    width: 3.438rem;
}
header .profile-pic-thumb {
    width:4.438rem;
    height: 4.438rem;
}
//Media Queries
@include media-breakpoint-down(sm) {
    header .profile-pic-thumb {
    }
}