<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<div class="card app-card mt-2 mb-4 shadow-level-5">
	<div class="card-body">
		<form [formGroup]="placementForm" [fmAutoSave]="autoSave">
			<div class="row">
        <div class="col-md-6">
          <mat-form-field class="large">
            <input matInput placeholder="Title" formControlName="title" name="title" required autocomplete="off">
          </mat-form-field>
          <div *ngIf="title && title.errors && title.errors.maxlength" class="alert alert-danger">
            Title cannot be more than 1000 characters.
          </div>
        </div>
				<div class="col-md-3">
					<mat-form-field class="large">
						<input matInput [matDatepicker]="startPicker" placeholder="Start" formControlName="start" name="start" (focus)="openPicker(startPicker)" required autocomplete="off">
						<mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
					</mat-form-field>
					<mat-datepicker #startPicker [touchUi]="touchUi"></mat-datepicker>
				</div>
				<div class="col-md-3">
					<mat-form-field class="large">
						<input matInput [matDatepicker]="endPicker" [min]="placementForm.value.start" placeholder="End" formControlName="end" name="end" (focus)="openPicker(endPicker)" required autocomplete="off">
						<mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
					</mat-form-field>
					<mat-datepicker #endPicker [touchUi]="touchUi"></mat-datepicker>
				</div>
			</div>	
			<div *ngIf="isEdit" class="row">
				<div class="col">
					<div *ngIf="!savePending" class="small text-sm-right pb-4">
						<span *ngIf="!placementSaved">Last saved at {{placement.lastUpdatedAt | date: 'd MMM yyyy h:mm:ss a'}}</span>
						<span *ngIf="placementSaved">All changes saved</span>
					</div>
					<div *ngIf="savePending" class="small text-sm-right pb-4">Saving placement...</div>
				</div>
			</div>	
			<div *ngIf="!isEdit" class="row">
				<div class="col">		
					<button (click)="onCloseClick($event)" class="btn btn-link">Cancel</button>					
				</div>				
				<div class="col">
					<button class="btn btn-primary btn-shadow float-right" (click)="onCreatePlacementClick()" type="submit" [disabled]="placementForm.pristine || !placementForm.valid || savePending">
						<i class="fas fa-plus" aria-hidden="true"></i> Create
					</button>
				</div>
			</div>
			<div *ngIf="isEdit" class="row text-right">
				<div class="col">
					<button *ngIf="autoSaveEnabled" (click)="onCloseClick($event)" class="btn btn-link">Close</button>
					<button *ngIf="!autoSaveEnabled" type="submit" class="btn btn-primary btn-shadow mt-2 mt-sm-0" (click)="onSaveClick()">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>
