<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<section class="title">
	<div class="container">
			<div class="d-flex justify-content-start">
				<h1 class="text-uppercase p-1 m-0"><span class="folium-placement small"></span> Placements </h1>				
			</div>
	</div>
</section>
<section class="content-main">
	<div class="container" [ngClass]="{'has-active-element': hasActiveElement()}">		
		<div class="row pb-2">
			<div class="col">
				<button *ngIf="!isNewPlacementOpen" class="btn btn-primary btn-shadow float-right" (click)="onNewPlacementClick()"><i class="fa fa-plus" aria-hidden="true"></i> Create placement</button>
			</div>
		</div>
		<active-element (backgroundClick)="onNewPlacementClose()" *ngIf="isNewPlacementOpen">
			<placement-editor [user]="user" (onClose)="onNewPlacementClose($event)"></placement-editor>
		</active-element>
		<!-- Loading... -->
		<div *ngIf="!placements" class="loader-container">
			<div class="loader primary">Loading...</div>
		</div>
		<!-- No Placements... -->
		<div *ngIf="placements && placements.length === 0 && !isNewPlacementOpen" class="row">
			<div class="col">
				<div class="app-card">
					<div class="card-block">
						Looks like you don't have any placements, <a [routerLink]="" (click)="isNewPlacementOpen = true">create one</a>.
					</div>
				</div>
			</div>
		</div>
		<!-- List Placements... -->
		<div *ngIf="placements">
			<div *ngFor="let placement of (placements | orderByPlacementDate)" class="row">
				<div class="col" [ngSwitch]="placement.editing">
					<div *ngSwitchDefault class="placement-summary-card app-card mb-sm-2">
						<div class="card-block">							
							<div class="row">
								<div class="col-1 pr-0">
									<span class="folium-placement"></span>
								</div>
								<div class="col-lg-9 col-8">
									<a href (click)="onSelectPlacementClick($event, placement)">{{placement.title}}</a>
									<small class="when">{{placement.start | date: 'd MMM yyyy'}} - {{placement.end | date: 'd MMM yyyy'}}</small>
								</div>
								<div class="col-lg-1 col-1 col-sm-2 pr-0 text-right">
									({{placement.entryCount}})
								</div>
								<div class="col-2 col-sm-1 pl-0 pr-0 text-right">
									<button mat-icon-button [matMenuTriggerFor]="placementMenu" class="kebab-menu-button">
										<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
									</button>
									<mat-menu #placementMenu="matMenu">
										<div class="btn-group-vertical">
											<button class="btn btn-link" [disabled]="!canModifyPlacement(placement)" (click)="onEditPlacementClick(placement)">
												<i class="fa fa-pencil" aria-hidden="true"></i>
												<span>Edit</span>
											</button>
											<button class="btn btn-link" [disabled]="!canModifyPlacement(placement)" (click)="onDeletePlacementClick(placement)">
												<i class="fa fa-trash" aria-hidden="true"></i>
												<span>Delete</span>
											</button>
										</div>
									</mat-menu>
								</div>
							</div>
						</div>
					</div>					
					<div *ngSwitchCase="true">						
						<active-element (backgroundClick)="onEditPlacementClose(placement)">
							<placement-editor [user]="user" [placement]="placement" (onClose)="onEditPlacementClose(placement, $event)"></placement-editor>
						</active-element>
					</div>
				</div>
			</div>
			<button *ngIf="canLoadPages && !hasActiveElement()" class="btn btn-primary btn-shadow w-100 mb-4" (click)="loadMorePlacements()">Load more...</button>
		</div>
	</div>
</section>