<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<!-- Selected filters -->
<div *ngIf="filters.length > 0" class="mb-2">
  <div class="d-flex justify-content-start flex-wrap">
    <mat-chip-list>
      <mat-chip *ngFor="let filter of filters" [attr.aria-label]='"remove " + filter.name + " filter"' (click)="onRemoveFilterFacetClick(filter)">
        {{filter.name}} <i class="fa fa-fw fa-times-circle" aria-hidden="true"></i>
      </mat-chip>
    </mat-chip-list>
    <mat-chip-list class="ml-auto">
      <mat-basic-chip [attr.aria-label]='"clear all filters"' (click)="onRemoveAllFilterFacetsClick()">
        <i class="fa fa-fw fa-times-circle" aria-hidden="true"></i> Clear Filters
      </mat-basic-chip>
    </mat-chip-list>
  </div>
</div>	
 
