<!--

Copyright 2017 The Royal Veterinary College, jbullock AT rvc.ac.uk, pnunn AT rvc.ac.uk

This file is part of Folium.

Folium is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Folium is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Folium.  If not, see <http://www.gnu.org/licenses/>.

-->
<button class="btn btn-secondary float-right" (click)="filterModal.show()"><span class="d-none d-md-inline">Filter</span><span class="d-md-none"><i class="fas fa-filter" aria-hidden="true"></i></span><span *ngIf="filterCount > 0">({{filterCount}})</span></button>
<!--Filter Model-->
<div bsModal #filterModal="bs-modal" [config]="{backdrop: false}" class="modal fade" tabindex="-1" role="dialog" aria-label="Filters" aria-hidden="true">
  <div class="modal-dialog modal-full-screen">
    <div class="container">
      <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title float-left">Filter Skills</h2>
            <button type="button" class="close" (click)="filterModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="filter-box row">
              <div *ngIf="skillSetId" class="filter-container col">
                <skill-filters [skillSetId]="skillSetId"></skill-filters>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="w-100 d-flex justify-content-between">
              <button class="btn btn-secondary" (click)="onRemoveAllFilterFacetsClick()"> Clear All </button>
              <button class="btn btn-primary btn-shadow" (click)="filterModal.hide()"> Done </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
